@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/book/index.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">


<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p class="search">
            חפש לפי שם ספר או סופר: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <button type="submit" value="Search" class="btn btn-default" ><i class="fas fa-search"></i></button> |
            <a asp-action="Index">אפס</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                שם הספר
            </th>
            <th>
                שם הסופר
            </th>
            <th>
                תאריך הוצאה לאור
            </th>
            <th>
                מחיר
            </th>
            <th>
                מס עמודים
            </th>
            <th>
                כמות במלאי
            </th>
            <th>
                זמין באתר
            </th>
            <th>
                תמונה
            </th>
            <th>
                תקציר
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>

            <td>
                @item.PublishDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                <img class="cover" src=@Html.DisplayFor(modelItem => item.Picture.Url) alt="#" />
            </td>
            <td>
                <details>
                    <summary></summary>
                    @Html.DisplayFor(modelItem => item.Description)
                </details>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">ערוך</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
