@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "List";
}
<link rel="stylesheet" href="~/css/book/index.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">



<form asp-action="Index" method="get" class="search-nav">
    <div class="row justify-content-center">
        
        <div class="row">
            <div>
                חפש לפי שם ספר או סופר:
            </div>
            &nbsp;&nbsp;
            <div >
                <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button type="submit" value="Search" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
            <div>
                <a class="asp-action" asp-action="Index">אפס</a>
                <a class="asp-action" asp-action="Create">הוסף ספר חדש</a>
            </div>

        </div>
        </div>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                שם הספר
            </th>
            <th>
                שם הסופר
            </th>
            <th>
                תאריך הוצאה לאור
            </th>
            <th>
                מחיר
            </th>
            <th>
                מס עמודים
            </th>
            <th>
                כמות במלאי
            </th>
            <th>
                זמין באתר
            </th>
            <th>
                תמונה
            </th>
            <th>
                תקציר
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                <img class="cover" src=@Html.DisplayFor(modelItem => item.Picture.Url) alt="#" />
            </td>
            <td>
                <details>
                    <summary></summary>
                    @Html.DisplayFor(modelItem => item.Description)
                </details>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">ערוך</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
