@model IEnumerable<BookStore.Models.Book>


<div class="row row-cols-auto">
    @foreach (var item in Model)
    {
        <div class="flex-wrapper col-md-3 col-sm-3">
            <div class="small-box-c">

                <div class="small-img-b">
                    <a asp-action="Details" asp-route-id="@item.ID">
                        <img class="img-responsive" src=@Html.DisplayFor(modelItem => item.Picture.Url) alt="#" />
                    </a>
                </div>
                <div class="dit-t clearfix">
                    <div class="right-ti">
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p>@Html.DisplayFor(modelItem => item.Author.Name)</p>
                    </div>
                    <div class="left-ti">
                        <a tabindex="0">₪@Html.DisplayFor(modelItem => item.Price)</a>
                        <button onclick="addToCart(@item.ID.ToString(), '@item.Name.ToString()', '@item.Author.Name.ToString()', '@item.Picture.Url.ToString()', 1)"
                                type="button" class="btn-cart" id="addToCartButton">
                            <i class="fas fa-plus"> הוסף לסל</i>
                        </button>
                    </div>
                </div>



            </div>

        </div>
    }
</div>












